body {
    background-color: #F8F005;
    align-items: center;
    text-align: center;
  }
  
  button, button::after {
    text-align: center;
    width: 17vw;
    height: 14vh;
    font-size: 3vw;
    margin-left: 50px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: rgb(7, 2, 255);
    letter-spacing: 3px;
    line-height: 14vh;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
  }
  input[type="file"], input[type="file"]::after {
    width: 70vw;
    text-align: center;
    height: 14vh;
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent -1%, #FF013C 5%);
    color: rgb(7, 2, 255);
    letter-spacing: 3px;
    line-height: 14vh;
    outline: transparent;
    position: relative;
  }


  
	/* toggle in label designing */
	.toggle {
		position : relative ;
		display : inline-block;
		width : 100px;
		height : 52px;
		background-color: rgb(255, 0, 0);
		border-radius: 30px;
		border: transparent;
	}
			
	/* After slide changes */
	.toggle:after {
		content: '';
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgb(0, 255, 242);
		top: 1px;
		left: 1px;
		transition: all 0.5s;
	}
			
	/* Toggle text */
	p {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
			
	/* Checkbox checked effect */
	.checkbox:checked + .toggle::after {
		left : 49px;
	}
			
	/* Checkbox checked toggle label bg color */
	.checkbox:checked + .toggle {
		background-color: rgb(4, 255, 4);
	}
			
	/* Checkbox vanished */
	.checkbox {
		display : none;
	}
  font {
    font-size: 9vmax;
    transition: .25s;
    font-variant: initial;
    font-family: winterKei;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px #b0e3e7;
}